script(src='js/hello.js')

form(action='http://www.example.com/search')
    input(type='text-area', id='q', name='q', size=60)
    input(type='button', value='Click to Speak', onclick='recognition.start()')


