script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js')
- var src = ''
link(rel='stylesheet', href='css/bootstrap.css')
link(rel='stylesheet', href='css/main.css')
body
	audio(id='audio', src = src)
	div.row(style='height:50px')
		.span12
	div.row
		.span8.offset2.well
			div(id='header', style='text-align: center')
				h2(id='welcome')
					| Welcome to the Speech interface for Yelp.com. 
					| Click the button below to get started.
				br	
			#Demo-area.span7
				#examples.pull-left
					ul.nav.nav-list
						li(class='nav-header') Example Queries
						li 'Search Pizza'
						li 'Search pubs Location China Town Category bars'
				
				#commands.pull-right
					#commands-left.pull-left
						ul.nav.nav-list
							li(class='nav-header') Commands
						ul.nav.nav-list
							li Search
							li Category
							li Location
							li Sort
					#commands-right.pull-right		
						br#list-span
						ul.nav.nav-list
							li More
							li Start
							li Stop
							li Help		 
			br
			br
			.row
				.span8
					div#upgrade.alert
						button(type='button', class='close', data-dismess='alert')&times;
						span(id='upgrade_warning')
				.span3.offset3
					button(id='button', onclick='toggleStartStop()').btn.center
					img(id='image_src', class='gif' , src='images/mic.gif', alt='click to get started.')
			br
			.row
				#results.span6.offset1
					.you-said
						h4 You Said:		
							p
								span(id='final_span') 
								span(id='interim_span')
					.response
						h4 Response:
							p				
								span(id='results_span')	

script(src='js/hello.js')
script(src='js/bootstrap.min.js')
